* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #121212;
    font-family: 'Chivo Mono', sans-serif;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.inner-navbar {
    display: none; /* Hide inner-navbar on small screens */
}

.navbar a {
    color: rgb(179, 172, 181);
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(156, 170, 238);
}

.container {
    position: relative;
    height: calc(100vh - 70px); /* Adjusting for navbar height */
    overflow: hidden;
}

.container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.text-content h1 {
    font-size: 4rem;
}

.third-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 2rem;
    z-index: 1;
}

.container2 {
    display: none; /* Hide container2 on small screens */
}

.third-container {
    padding: 2rem;
    text-align: center;
}

.third-container-heading {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.third-container-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.third-container-inner-items {
    text-align: center;
}

.third-container-inner-items img {
    max-width: 100%;
    height: auto;
}

.fourth-container {
    background-color: #0a0a0a;
    color: #b3acb5;
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .inner-navbar {
        display: flex;
    }

    .container {
        height: calc(100vh - 70px);
    }

    .container2 {
        display: block;
    }

    .third-container-inner-items {
        width: calc(50% - 2rem);
    }
}

@media screen and (min-width: 1024px) {
    .third-container-inner-items {
        width: calc(33.33% - 2rem);
    }
}
